@charset "utf-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgb(227, 3, 107), rgb(0, 0, 0));
    background-repeat: no-repeat;
    width: 98vw;
    height: 98vh;
}

main{
    background-color: white;
    padding: 1px;
    margin: auto;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
}

p{
    text-align: justify;
}